*{
    padding: 0;
    margin: 0;
}

main{
    padding: 64px 32px;
    width: 50%;
}

button{
    margin-top: 4px;
}



.main-section{
    padding: 16px;
    background-color: antiquewhite;
    border-radius: 4px;
    margin-top: 4px;
}

.celcius-section{
    margin-top: 4px;
    padding: 16px 0 0 0;
}

textarea{
    height: 30px;
    width: 75%;
    padding: 12px 20px;
    margin-top: 4px;
    resize: none;
    border: 1px solid grey;
    background-color: #f8f8f8;
    
}

.explanation-header-section{
    padding-top: 32px;
    margin-top: 4px;
}

hr {
    margin: 32px 0 32px 0;
}

#convert-button{
    padding: 3px 4px;
    color: white;
    background-color: skyblue;
    border: 1px solid skyblue;
    border-radius: 5px;
}

#convert-button:active{
    background-color: rgba(135, 207, 235, 0.333);
    border: 0px;
}
#reset-button{
    padding: 3px 2px;
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
}
#reset-button:active{
    background-color: rgba(0, 128, 0, 0.333);
    border: 0px;
}
#reverse-button{
    padding: 3px 4px;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
}
#reverse-button:active{
    background-color: rgba(255, 0, 0, 0.333);
    border: 0px;
}